@font-face {
  font-family: cinzel_bold;
  src: url(../fonts/CinzelDecorative-Bold.ttf);
}

@font-face {
  font-family: cinzel_regular;
  src: url(../fonts/CinzelDecorative-Regular.ttf);
}

@font-face {
  font-family: constantine;
  src: url(../fonts/constantine.ttf);
}

@font-face {
  font-family: constantine_bold;
  src: url(../fonts/constantine_Bold.ttf);
}

@font-face {
  font-family: constantine_outline;
  src: url(../fonts/constantine_Outline.ttf);
}

@font-face {
  font-family: geosansLight;
  src: url(../fonts/GeosansLight.ttf);
}

:root {
  --primary: #13c5ab;
  --secondary: #8de3d6;
  --third-color: #aaeae0;
  --fourth-color: #ebfafb;
  --gold: #ffd700;
}

/*
  
  main color - #13C5AB
  mail color #2 - #8DE3D6
  main color #3 - #AAEAE0
  kinda greenish - #C9F1EB
  greenish white - #EBFAFB
  gold - #FFD700
  
  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  font-family: geosansLight, sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.7;
  color: #fff;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: rgba(33, 219, 161, 1);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  background: rgb(239, 255, 252);
  background: linear-gradient(
    180deg,
    rgba(239, 255, 252, 1) 0%,
    rgba(0, 177, 122, 1) 21%
  );
  border-radius: 100vw;
}

/**********************************************Header**************************************************/

.nav-img {
  margin: 20px;
}

.header .nav-elements .nav-item {
  font-size: 20px;
  padding: 50px;
  font-weight: 800;
  color: black;
}

.header {
  background: rgb(239, 255, 252);
  background: linear-gradient(
    90deg,
    rgba(239, 255, 252, 1) 0%,
    rgba(101, 255, 206, 1) 30%
  );
  height: 40vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: -2px;
}

.footer-item {
  padding: 0 5%;
}

.footer-item a {
  font-size: 15px;
  color: black;
}

.social_links a i {
  color: black;
  border-style: none;
  height: 5px;
  width: 10px;
}

@media (max-width: 1131.2px) {
  .header .nav-elements .nav-item .nav-link {
    color: #13c5ab;
  }
}

@media (max-width: 991.2px) {
  .nav-elements {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10%;
    left: 25%;
  }
}

@media (max-width: 923.2px) {
  .header .nav-elements .nav-item {
    font-size: 30px;
    padding: 20px;
  }
}

@media (max-width: 763.2px) {
  .header .nav-elements .nav-item {
    font-size: 30px;
    padding: 20px;
  }
}

@media (max-width: 741.6px) {
  .header .nav-elements .nav-item {
    font-size: 20px;
  }
}

@media (max-width: 571.2px) {
  .header .nav-elements .nav-item {
    font-size: 17px;
    font-weight: 1000;
  }

  .nav-elements {
    top: 15%;
  }
}

@media (max-width: 521.4px) {
  .header .nav-elements .nav-item {
    font-size: 15px;
  }
}

@media (max-width: 483.4px) {
  .header .nav-elements .nav-item {
    font-size: 20px;
  }

  .nav-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10%;
    left: 50%;
  }

  .header .nav-elements .nav-item {
    padding: 5px;
  }

  .social_links a i {
    font-size: 15px;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -2px;
    padding: 10px;
  }

  .footer-item {
    margin: 5px 0;
  }
}

/***********************************************HEADER*************************************************/

/**********************************************about*************************************************/
.about_section {
  color: black;
  font-family: "Cardo", sans-serif;
  background-color: rgb(157, 193, 170);
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.about_section .about_text > p {
  font-size: 15px;
}

@media (max-width: 576.4px) {
  .about_text h1 {
    font-size: 20px;
    font-weight: 800;
  }

  .about_section .about_text > p {
    font-size: 13px;
    font-weight: 200;
  }

  .block {
    width: 40%;
  }

  .about_block {
    margin-top: 100px;
  }

  .block img {
    width: 150px;
    height: 100px;
  }
}

@media (max-width: 360px) {
  .about_text h1 {
    font-size: 15px;
    font-weight: 800;
  }
}

@media (max-width: 991.2px) {
  .block {
    width: 40%;
  }
}
/**********************************************about*************************************************/
